@()

@main("Klienci") {
    <div class="container" ng-controller="clientsCtrl" ng-init="getAll()">
        <div class="row">
            <div class="col-sm-4">Imię</div>
            <div class="col-sm-3">Wiek</div>
            <div class="col-sm-5">Zawód</div>
        </div>
        <div class="row" ng-repeat="client in clients"
        ng-init="client.checked=false">
            <div class="row" ng-click="client.checked = !client.checked">
                <div class="col-sm-4">{{client.firstName}}</div>
                <div class="col-sm-3">{{client.age}}</div>
                <div class="col-sm-5">{{client.profession}}</div>
            </div>
            <div class="row" ng-if="client.checked">
                <div class="col">
                    <div ng-repeat="n in client.phoneNumbers" ng-if="client.phoneNumbers.length > 0">{{n}}</div>

                @*<div ng-if="client.phoneNumbers.length == 0">*@

                <form ng-submit="submitNewNumberForm(client, number)">
                    <div class="row">
                        <div class="col">
                            <input type="number" ng-model="number"/>
                            <input type="submit" value="Submit"/>
                        </div>
                    </div>
                </form>


                @*</div>*@
            </div>
            </div>
        </div>

    </div>
}

